# Ignore datasets
data/raw/*
!data/processed/*.csv  # (optional: allow small processed ones)
data/*

# Ignore secrets
*.env
*.key
*.pem

# Ignore model files
models/*.pkl
models/*.npy
models/*.csv
models/*.ckpt
models/*.xlsx
models/*.txt
models/*.log